language: php

notifications:
  email:
    recipients:
        - rdebleu@eWallah.net

sudo: false

addons:
  firefox: "47.0.1"
  postgresql: "9.6"
  apt:
    packages:
      - oracle-java8-installer
      - oracle-java8-set-default

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

php:
 - 7.0
 - 7.1
 - 7.2

env:
  - DB=pgsql MOODLE_BRANCH=MOODLE_34_STABLE
  - DB=pgsql MOODLE_BRANCH=MOODLE_33_STABLE
  - DB=mysqli MOODLE_BRANCH=MOODLE_34_STABLE
  - DB=mysqli MOODLE_BRANCH=MOODLE_33_STABLE

matrix:
  exclude:
    - php: 7.2
      env: DB=pgsql MOODLE_BRANCH=MOODLE_33_STABLE
    - php: 7.2
      env: DB=pgsql MOODLE_BRANCH=MOODLE_34_STABLE

before_install:
  - phpenv config-rm xdebug.ini
  - nvm install 8.9
  - nvm use 8.9
  - cd ../..
  - composer create-project -n --no-dev --prefer-source moodlerooms/moodle-plugin-ci ci ^2
  - export PATH="$(cd ci/bin; pwd):$(cd ci/vendor/bin; pwd):$PATH"

install:
  - moodle-plugin-ci install

script:
  - moodle-plugin-ci phplint
  - moodle-plugin-ci phpcpd
  - moodle-plugin-ci phpmd
  - moodle-plugin-ci codechecker
  # Free pass- moodle-plugin-ci validate
  # Free pass - moodle-plugin-ci savepoints
  # Free pass - moodle-plugin-ci mustache
  - moodle-plugin-ci grunt
  - moodle-plugin-ci phpunit
  - moodle-plugin-ci behat
